<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Prescriptions</title>
</head>
<body>
    <h1>My Prescriptions</h1>
    {% for prescription in prescriptions %}
        <div class="prescription">
<!--            <h2>Prescription #{{ prescription.id }}</h2>-->
            <p>Date of Prescription: {{ prescription.date_of_prescription }}</p>
            <p>Medications: {{ prescription.medications }}</p>
            <p>Dosage: {{ prescription.dosage }}</p>
            <p>Oral Findings: {{ prescription.oral_findings }}</p>
            <p>Diagnosis : {{ prescription.diagnosis }}</p>
            <p>Treatment plan: {{ prescription.treatment_plan }}</p>
            <p>Duration : {{ prescription.duration }}</p>
            <p>Post Treatment : {{ prescription.post_treatment }}</p>
            <p>Dietary Restrictions : {{ prescription.dietary_restrictions }}</p>
            <p>Follow Update : {{ prescription.follow_up_date }}</p>
            <p>Any Remarks : {{ prescription.remarks }}</p>

 <a href="{% url 'edit_prescription' prescription.id %}">Edit</a>
            <a href="{% url 'delete_prescription' prescription.id %}">Delete</a>
        </div>
    {% empty %}
        <p>No prescriptions found.</p>
    {% endfor %}
</body>
</html>
